<!--The content below is only a placeholder and can be replaced.-->
<form #frm='ngForm'>
    <ag-dropdown customRequired name="drp" #drp="ngModel" [valueField]="config.valueField" [options]="config.options" [mode]="config.mode" [(ngModel)]="cntrlValue" [disabled]="false" ></ag-dropdown>
    <button type="submit" [disabled]="!frm.valid">Submit</button>
</form>
<button (click)="checkValue(drp)">checkValue</button>

<rating-input [(ngModel)]="ratingValue"></rating-input>
