<div class="dropDownWidth">
    <div>
        <div class="selector-width serif" (click)="dropDownOpen=!dropDownOpen">
            Select
        </div>
    </div>
    <div class="dropDownContent" *ngIf="dropDownOpen">
        <div style="padding:16px">
            <input style="width:100%;height:30px" type="search" [(ngModel)]="textValue" placeholder="Search...">
        </div>
        <ul class="list-styling">
            <li class="option-style pointer" (click)="changeModel(option)" *ngFor="let option of options | searchFilter : valueField : textValue ; let i = index">
                <div class="squaredFour">
                    <input [attr.id]="'squaredfour_'+i" [type]="'checkbox'" [checked]="option.isSelected" text="option[valueField]"
                    />
                    <label [attr.for]="'squaredfour_'+i"></label>
                    <div class="option-text">{{option[valueField]}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>