.option-style{
    list-style: none;
    padding: 10px
}
.squaredFour {
    position: relative;
    display: inline;
    label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      background: #fcfff4;
      background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      border-radius: 4px;
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
      &:after {
        content: '';
        width: 9px;
        height: 5px;
        position: absolute;
        top: 4px;
        left: 4px;
        border: 3px solid #333;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }
      &:hover::after {
        opacity: 0.5;
      }
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }
    }    
  }


  .option-text{
    display: inline;
    padding-left: 10px;
    font-size: 15px;
    font-family: sans-serif;
  }
  .selector-width{
      border: 1px solid #000000;
      border-radius: 3px;
      width: 100%;
      height:25px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      text-align: center;
      line-height: 24px;
      color: #383838;
  }
  .selector-width:hover{
    -moz-box-shadow:    inset 0 0 5px #b5b5b5;
    -webkit-box-shadow: inset 0 0 5px #b5b5b5;
    box-shadow:         inset 0 0 5px #b5b5b5;
  }
  .name-style{
      display: inline;
  }
.dropDownContent{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list-styling{
    padding: 6px;
    margin: 0;
}
.dropDownWidth{
    width: 150px;
}
.serif{
    font-family: serif;
}
.pointer{
    cursor: pointer;
}
.option-style:hover{
    background-color: #b5b5b5;
    border-radius: 2px;
}